* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    animation: slidein 100s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;              
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
}
    
    @keyframes slidein {
    from {background-position: top;background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    
}

.radial-gradient {
    background: radial-gradient(circle,rgba(0,0,0,.6)0%,rgba(0,0,0,0)100%);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.conteudo {
    height: fit-content;
    max-width: 80%;
    padding: 50px;
    margin: auto;
    inset: 0;
}

.navigation {
    margin-top: 2px;
    border-radius: 10px;
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    mix-blend-mode: hard-light;
    background: rgba(0,0,0,.3);
    justify-content: space-evenly;
}

.navigation-options {
    font-size: 16px; 
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    background: transparent;
    color: rgb(255, 255, 255, .40);
    width: 100%;
}

.navigation-options.active {
    background: rgba(255, 255, 255, .15);
}

.navigation-options:hover:not(.active) {
    background: rgba(255, 255, 255, .15)
}

.navigation-options:hover {
    color: white;
    background: rgba(255, 255, 255, .30);
}

.navigation-options:is(.active, :hover) {
    color: white;
}

.aulas {
    gap: 10px;
    height: 0;
    opacity: 0;
    margin: auto;
    display: flex;
    overflow: hidden;
    transition: all 1s;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    inset: 0;
}

#aula2 {
    flex-direction: column;
}


.exercicios {
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(30px);
    background: rgba(0,0,0,.3);

}

.exercicios .exercicios-titulo {
    font-size: 24px;
    font-weight: bold;
}

.exercicios .exercicios-texto {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
    max-lines: 3;
    color: rgba(255, 255, 255, .90);
}

.exercicios .exercicios-input {
    margin: 5px;
    height: 25px;
    padding: 5px;
    background: rgba(0, 0, 0);
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255);
}

.exercicios .button {
    margin: 0px;
    margin-left: 35%;
    margin-right: 35%;
    height: 30px;
    border-radius: 10px;
    background: radial-gradient(circle,rgba(0,0,0,.6)40%,rgba(0,0,0,0)100%);
    padding: 5px;
    color: rgba(255,255,255, .90);
    font-size: 20px;
    border: none;

}

.inputs-de-calculo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input::placeholder {
    color: rgba(255, 255, 255, .30);
    font-size: 16px;
    letter-spacing: 3px;
}

#mostrar2, #mostrar10 {
    resize: none;
    height: 90px;
    overflow: hidden;
}

.gifs {
    top: 20%;
    left: 45%;
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 10;
}

.gifs.on {
    display: block;
}

section.menu-on {
    height: fit-content;
    opacity: 1;
}









/* EM CONSTRUÇÃO AULA3 E 4 */
.lamp-container {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0e0d0d;
}

.lamp {
    z-index: 1;
    width: 10%;
}

.light {
    transform: translateX(-1%);
    width: 35%;
    z-index: 1;
}

#construction {
    margin: 10px;
}