* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    animation: slidein 100s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;              
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
}
    
    @keyframes slidein {
    from {background-position: top;background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    
}

body .radial-gradient {
    background: radial-gradient(circle,rgba(0,0,0,.6)0%,rgba(0,0,0,0)100%);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

body .conteudo {
    position: relative;
    height: fit-content;
    max-width: 80%;
    padding: 50px;
    color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    inset: 0;
}

body .conteudo .navigation {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(0,0,0,.3);
    border: 1px solid rgba(255, 255, 255, .1);
    mix-blend-mode: hard-light;
    padding: 0 12px 0 12px;
}

body .conteudo .navigation .navigation-options {
    letter-spacing: 1px;
    padding: 15px;
    font: 14px; 
    font-weight: bold;
    color: rgb(255, 255, 255, .40);
    text-decoration: none;
}

body .conteudo .navigation .navigation-options.active {
    background: rgba(255, 255, 255, .15);
}

body .conteudo .navigation .navigation-options:hover:not(.active) {
    background: rgba(255, 255, 255, .15)
}

.navigation-options:hover {
    color: white;
    background: rgba(255, 255, 255, .30);
}

body .conteudo .navigation .navigation-options:is(.active, :hover) {
    color: white;
}

body .conteudo .exercicios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    background: rgba(0,0,0,.3);
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
}

body .conteudo .exercicios .exercicios-titulo {
    font-size: 24px;
    font-weight: bold;
}

body .conteudo .exercicios .exercicios-texto {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
    max-lines: 3;
    color: rgba(255, 255, 255, .90);
}

body .conteudo .exercicios .exercicios-input {
    margin: 5px;
    height: 25px;
    padding: 5px;
    background: rgba(0, 0, 0);
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255);
}

body .conteudo .exercicios .button {
    margin: 0px;
    margin-left: 35%;
    margin-right: 35%;
    height: 30px;
    border-radius: 10px;
    background: radial-gradient(circle,rgba(0,0,0,.6)40%,rgba(0,0,0,0)100%);
    padding: 5px;
    color: rgba(255,255,255, .90);
    font-size: 20px;
    border: none;

}

#menu {
    width: 100%;
}

#mostrar2 {
    resize: none;
    height: 90px;
    overflow: hidden;
}